# Dependencies
node_modules/
__pycache__/
*.pyc
.venv/
venv/

# Build
dist/
build/
*.egg-info/

# IDE
.vscode/
.idea/

# Logs
*.log
catboost_info/

# Cache
.vite/
.cache/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
